@charset "utf-8";
@import url(reset.css);
@import url(font.css);
@import url(all.min.css);

div#wrapper {
    min-width: 1320px;
    margin: 0 auto;
    position: relative;
}
div#inner {
    max-width: 1400px;
    margin: 0 auto;
}

/* header */
    header {
        position: fixed;
        top: 0;
        z-index: 1000;
        width: 100%;
    }
    div.main_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'S-CoreDream-3Light';
        border-bottom: 1px solid #ccc;
        min-width: 100%;
        position: relative;
        z-index: 100;
        background-color: white;
    }
    div.main_header > h1 {
        position: relative;
        width: 109px;
        margin: 0 40px;
    }
    div.ico > a {
        float: left;
        padding: 30px;
        position: relative;
    }
    div.ico > a:before {
        content: '';
        background-color: #ccc;
        width: 1px; height: 100%;
        display: block;
        position: absolute;
        top: 50%; transform: translateY(-50%);
        left: 0;
    }

/* depth01 */
    ul.gnb {
        display: flex;
        justify-content: space-between;
        align-items: start;
    }
    ul.gnb > li > a {
        font-family: 'S-CoreDream-5Medium';
        font-size: 19px;
        padding: 11px 0 32px;
        margin: 20px 30px 0 0;
    }
    ul.gnb > li:last-child > a {
        margin-right: 0;
    }
    ul.gnb > li:hover > a {
        font-family: 'S-CoreDream-6Bold';
        color: black;
    }

/* depth02 */
    ul.gnb_sub {
        font-family: 'S-CoreDream-3Light';
        position: absolute;
        z-index: 99;
        width: 100%;
    }
    ul.gnb_sub > li {
        display: none;
        overflow: hidden;
        background-color: white;
        width: 100%;
    }
    ul.gnb_sub > li p.title {
        float: left;
        width: 300px;
        min-height: 330px;
        line-height: 150px;
        text-align: center;
        background-color: #eeeeee;
        color: black;
        font-family: 'S-CoreDream-6Bold';
        font-size: 22px;
        position: relative;
    }
    ul.gnb_sub > li div.contents {
        float: left;
        display: flex;
        justify-content: space-between;
        align-items: start;
        padding: 50px;
    }
    ul.gnb_sub > li div.contents > div {
        margin: 0 30px;
    }
    ul.gnb_sub > li div.contents > div > a {
        padding: 4px 0;
        font-size: 20px;
        font-family: 'S-CoreDream-6Bold';
        border-bottom: 2px #585858 solid;
        position: relative;
    }
    ul.gnb_sub > li div.contents > div:hover > a {
        border-bottom: 2px solid black;
        font-family: 'S-CoreDream-7ExtraBold';
        color: black;
        position: relative;
    }
    ul.gnb_sub > li div.contents > div > a:after {
        content: '\f054';
        font-family: "Font Awesome 6 Free";
        font-weight: 600;
        font-size: 16px;
        position: absolute;
        right: -25px; top: 12px;
        display: block;
    }
    ul.gnb_sub ul.depth03 {
        margin-top: 10px;
        margin-left: 15px;
    }
    ul.gnb_sub ul.depth03 > li {
        padding: 10px 5px;
        position: relative;
    }
    ul.gnb_sub ul.depth03 > li:before {
        content: '';
        background-color: #585858;
        position: absolute;
        display: block;
        left: -5px; top: 50%; transform: translateY(-50%);
        width: 2px; height: 2px;
    }
    ul.gnb_sub ul.depth03 > li > a:hover {
        border-bottom: 1px solid black;
        color: black;
    }
    ul.gnb_sub > li p.title::after {
        content: '';
        background: no-repeat center/contain;
        width: 130px; height: 130px;
        display: block;
        position: absolute;
        z-index: 100;
        left: 50%; transform: translateX(-50%); top: 135px;
    }
    ul.gnb_sub > li:first-child p.title::after {
        background-image: url(../img/header_gnb/gnb-img_0.png);
    }
    ul.gnb_sub > li:nth-child(2) p.title::after {
        background-image: url(../img/header_gnb/gnb-img_1.png);
    }
    ul.gnb_sub > li:nth-child(3) p.title::after {
        background-image: url(../img/header_gnb/gnb-img_2.png);
    }
    ul.gnb_sub > li:nth-child(4) p.title::after {
        background-image: url(../img/header_gnb/gnb-img_3.png);
    }
    ul.gnb_sub > li:nth-child(5) p.title::after {
        background-image: url(../img/header_gnb/gnb-img_4.png);
    }
    ul.gnb_sub > li:nth-child(6) p.title::after {
        background-image: url(../img/header_gnb/gnb-img_5.png);
    }
    ul.gnb_sub > li:nth-child(7) p.title::after {
        background-image: url(../img/header_gnb/gnb-img_6.png);
    }
    ul.gnb_sub > li:nth-child(8) p.title::after {
        background-image: url(../img/header_gnb/gnb-img_7.png);
    }
    div.bg {
        display: none;
        position: absolute;
        width: 100vw; height: 100vh;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 98;
    }

    
/* footer */
    footer {
        background-color: #333;
        color: rgba(255, 255, 255, 0.8);
        font-family: 'S-CoreDream-3Light';
        margin-top: 150px;
    }
    footer div.inner {
        max-width: 1400px;
        margin: 0 auto;
    }
    footer div.top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0;
        margin-bottom: 40px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    }
    footer div.top ul.left {
        display: flex;
        justify-content: start;
        align-items: center;
    }
    footer div.top ul.left li {
        padding-right: 50px;
        position: relative;
    }
    footer div.top ul.left li+li:before {
        content: '';
        background-color: rgba(255, 255, 255, 0.4);
        height: 15px; width: 1px;
        display: block;
        position: absolute;
        top: 50%; transform: translateY(-50%);
        left: -25px;
    }
    footer div.bottom {
        margin-bottom: 10px;
    }
    footer div.bottom div.place {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-bottom: 5px;
    }
    footer div.bottom div.place p.title {
        font-family: 'S-CoreDream-5Medium';
        width: 130px;
    }
    footer div.bottom div.place p.address {
        width: 490px;
    }
    footer div.bottom div.place span {
        width: 200px;
        position: relative;
    }
    footer div.bottom div.place span:before {
        content: '';
        background-color: rgba(255, 255, 255, 0.4);
        height: 15px; width: 1px;
        display: block;
        position: absolute;
        top: 50%; transform: translateY(-50%);
        left: -25px;
    }
    footer p.copyright {
        font-family: 'S-CoreDream-2ExtraLight';
        font-size: 14px;
        padding-bottom: 40px;
        color: rgba(255, 255, 255, 0.4)
    }